.text-message {
    position: relative;
    display: inline-block;
    min-width: 110px;
    max-width: 400px;
    line-height: 15px;
    color: var(--light-black-color);
    background-color: var(--very-light-grey-color);
    border-radius: 0 12px 12px;
    padding: 11px;
    margin-top: 10px;
}

.my-message {
    display: flex;
    background-color: var(--light-blue-color);
    margin-left: auto;
    border-radius: 12px 12px 0;
    margin-top: 20px;
}

.message-time {
    position: absolute;
    bottom: 11px;
    right: 9px;
    font-size: 9px;
    line-height: 9px;
    color: var(--grey-color);
}

.my-message .message-time {
    color: var(--blue-color);
}

.check-icon {
    display: none;
    width: 11px;
    height: 5px;
    background: url("../../static/check.svg") no-repeat center;
    margin: auto 24px 1px auto;
}

.my-message .check-icon {
    display: block;
}
