@import "./button.css";
@import "./link.css";
@import "./input-field.css";

.panel__container {
    width: 340px;
    min-height: 450px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel__input-list {
    width: 100%;
}

.panel__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.panel__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
    flex: 1;
    justify-content: space-between;
}

.panel__button {
    margin-top: 60px;
}

.panel__container .input {
    margin-top: 18px;
}

.panel__container .input__field {
    border-bottom: 1px solid var(--blue-color);
}
