.chat {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-side {
    width: 355px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--lighter-grey-color);
    overflow: overlay;
}

.left-side::-webkit-scrollbar {
    display: none;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--white-color);
    font-size: 12px;
    line-height: 12px;
    color: var(--grey-color);
}

.chat__profile-link {
    position: relative;
    margin: 22px 22px 0 auto;
    color: var(--grey-color);
    font-size: 12px;
    line-height: 12px;
}

.chat__profile-link::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-right: 1px solid var(--grey-color);
    border-top: 1px solid var(--grey-color);
    top: 4px;
    left: 60px;
    transform: rotate(45deg);
}

.chat__profile-link:hover,
.chat__profile-link:visited {
    color: var(--grey-color);
}

.chat__search-field {
    margin: 23px 10px 0;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    box-sizing: border-box;
    background-color: var(--darkish-grey-color);
    background-image: url("../../static/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 108px 8px;
    width: 290px;
}

.chat__search-field::placeholder {
    text-align: center;
    color: var(--grey-color);
}

.chat-list {
    margin-top: 16px;
}

.chat-list__item {
    cursor: pointer;
    margin-bottom: 2px;
}

.line {
    width: 290px;
    height: 1px;
    background-color: var(--lighter-grey-color);
    margin: 0 10px 2px;
}
