:root {
    --main-bg-color: #fbfbfb;
    --error-message-color: #ff2f2f;
    --white-color: #ffffff;
    --blue-color: #3369f3;
    --grey-color: #999999;
    --black-color: #1e1e1e;
    --hover-blue-color: #1945b8;
}
