*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 13px;
}

.disabled {
    display: none;
}
