{{!< index}}

<div class="chat">
    <div class="left-side">
        {{> link chats class="chat__profile-link"}}
        <input class="chat__search-field" type="text" placeholder={{chats.searchPlaceholder}}>
        {{> chat-list chats}}
    </div>
    {{!-- <div class="right-side disabled">{{chats.rightSidePlaceholder}}</div> --}}
    <div class="right-side">
        {{> chat-title chats}}
        {{> messages-area chats}}
        {{> chat-message chats}}
    </div>
    <div class="overlay"></div>
    {{!-- {{> user-change chats.addUser}} --}}
    {{!-- {{> user-change chats.removeUser}} --}}
</div>
