{{!< profile}}

<div class="profile__content password-change">
    {{> avatar}}
    {{> form password class="profile__form"}}
    {{> button profile.saveButton type="button" class="profile__button"}}
</div>
