{{!< index}}

<div class="chat">
    <div class="left-side">
        {{> link chats class="chat__profile-link"}}
        <input class="chat__search-field" type="text" placeholder={{chats.searchPlaceholder}}>
        {{> chat-list chats}}
    </div>
    <div class="right-side">{{chats.rightSidePlaceholder}}</div>
</div>
