{{!< profile}}

<div class="change-profile">
    {{> avatar class="profile-panel__avatar"}}
    {{> profile-form form class="profile-panel__form"}}
    {{> button profile.saveButton type="button" class="profile-panel__button"}}
</div>
