{{!< profile}}

<div class="profile__content profile-page">
    {{> avatar avatar class="profile__avatar"}}
    <p class="profile__title">{{profile.name}}</p>
    {{> form form class="profile__form"}}
    {{> links-list links class="profile__links"}}
    {{> avatar-change avatar}}
</div>
