{{!< profile}}

{{> avatar class="profile-panel__avatar"}}
<p class="profile-panel__title">{{profile.name}}</p>
{{> profile-form form class="profile-panel__form"}}
{{> profile-links links class="profile-panel__links"}}
