{{!< profile}}

<div class="profile__content profile-change">
    {{> avatar}}
    {{> form form class="profile__form"}}
    {{> button profile.saveButton type="button" class="profile__button"}}
</div>
