.messages-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    overflow: overlay;
    flex: 1;
}

.messages-area::-webkit-scrollbar {
    display: none;
}

.message-date {
    margin-top: 28px;
    text-align: center;
    margin-bottom: 30px;
}
