<div class="chat-message">
    {{> button type="button" class="chat-message__menu-button"}}
    <input class="chat-message__input" type="text" id="message" name="message" placeholder={{placeholder}}>
    {{> button type="button" class="chat-message__sent-button"}}
    {{> chat-menu messageMenu class="message-menu"}}
</div>
