<div class="chat-title">
    <div class="chat-title__avatar"></div>
    <p class="chat-title__name">{{chatName}}</p>
    {{> button type="button" class="chat-title__button"}}
    {{> chat-menu userMenu class="user-menu"}}
</div>
