<div class="chat-menu {{class}}">
    <ul class="chat-menu__list">
        {{#each links}}
            <li class="chat-menu__item">
                {{> link}}
            </li>
        {{/each}}
    </ul>
</div>
