<form action="#" class="form {{class}}">
    <ul class="form__list">
        {{#each fields}}
        <li class="form__item">
            {{> input}}
        </li>
        {{/each}}
    </ul>
</form>
