<div class="left-panel">
    <a href="../pages//profile-page.hbs" class="left-panel__link">
        <img src="../static/arrow_button.svg" alt="arrow button" class="left-panel__arrow">
    </a>
</div>
