<div class="messages-area">
    <div class="message-date">{{messageDate}}</div>
    {{> text-message message}}
    {{> image-message imageMessage}}
    {{> text-message myMessage class="my-message"}}
</div>
