<div class="panel {{class}}">
    <h1 class="panel__title">{{ text }}</h1>
    {{> form class="panel__form" }}
    {{> button button type="submit" class="panel__button" }}
    {{> link class="panel__link" }}
</div>
