<div class="panel__container">
    <h1 class="panel__title">{{ text }}</h1>
    {{> panel-form }}
    {{> button button type="submit" class="panel__button" }}
    {{> link class="panel__link" }}
</div>
