.avatar {
    position: relative;
    width: 130px;
    height: 130px;
    background-color: var(--light-grey-color);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.change-placeholder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: var(--black-color);
    opacity: 0.5;
    color: var(--white-color);
    font-size: 13px;
    line-height: 14px;
    padding: 0 10px;
    text-align: center;
}

.profile__avatar:hover .change-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-avatar__image {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.change-avatar__input {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0;
    left: -50%;
    transform: translateX(50%);
    cursor: pointer;
    opacity: 0;
    border-radius: 50%;
}
